mlr
mlrd
mlrg
mlrp
mlr-unit-tester
test-mlrutil
test-string-builder
test-string-byte-reader
test-parse-trie
test-lrec
test-join-bucket-keeper
termcvt
a.out
*.dSYM
catc
catc0
catm
*.o
.*.swp
.*.swo
c/dsls/lemon
c/dsls/put_dsl_lexer.c
c/dsls/put_dsl_lexer.h
c/dsls/put_dsl_parse.c
c/dsls/put_dsl_parse.h
c/dsls/put_dsl_parse.out
c/dsls/filter_dsl_lexer.c
c/dsls/filter_dsl_lexer.h
c/dsls/filter_dsl_parse.c
c/dsls/filter_dsl_parse.h
c/dsls/filter_dsl_parse.out
c/dsls/pdm
c/dsls/fdm
tags
*.la
*.lo
*.log
*.trs
*~
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
libtool
m4/
autotools/
stamp-h1
test_join_bucket_keeper
test_lrec
test_mlrutil
test_parse_trie
test_string_builder
test_string_byte_reader
