arch:
  - amd64
  - ppc64le
language: c

# Use newer travis container-based infrastructure
sudo: false

# Install flex dependency
addons:
  apt:
    packages:
      - flex
      - autoconf
      - libtool

# Build using gcc and clang since it is supported
# Note: 'clang -fsanitize=address' is not the right way to get an ASAN build.
# This needs work.
compiler:
  - gcc
  
os:
  - linux
  - osx

before_script: df -h && autoreconf -fiv

script: ./configure && make && make check && make distcheck && make CC=$CC -C c -f Makefile.no-autoconfig

after_failure: wc -l c/reg_test/test-suite.log && cat c/reg_test/test-suite.log
