language: c

# Use newer travis container-based infrastructure
sudo: false

# Install flex dependency
addons:
  apt:
    packages:
      - flex
      - autoconf
      - libtool
      - asciidoc
      - libxml2-utils

# Build using gcc and clang since it is supported
compiler:
  - clang
  - gcc

# Probably a better way to do this TODO
before_script: autoreconf -fiv

script: ./configure && make && make check && make CC=$CC -C c -f Makefile.no-autoconfig
