/* Top left, desktop */
.wy-menu {
  background-color: #c0c0c0;
}
/* Top left, mobile */
.wy-nav-top {
  background-color: #c0c0c0;
}
/* Left navbar */
.wy-side-nav-search {
  background-color: #c0c0c0;
}
p.caption {
  background-color: #909090;
}

/* Code samples without <pre> (none currently in use) */
.rst-content code {
  color: #000000;
  background-color: #e0e0e0;
}
.rst-content pre code {
  color: #000000;
  background-color: #eae2cb;
}
.highlight {
  color: #0FF1CE;
}
.caption-text {
  color: maroon;
  padding: 4px;
}

/* Code samples using <pre> (which is currently in use) */
/* For command-and-output situations (the most common) -- zero margin between.
 * Example:
 *   mlr cat foo.csv <---- command line
 *   a,b,c           <---- output line
 *   1,2,3           <---- output line
 *   4,5,6           <---- output line
 * Command lines have bold font weight and darker background.
 */
pre.pre-highlight-in-pair {
  color: #000000;
  background-color: #c5b690;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 0px;

  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

}
pre.pre-non-highlight-in-pair {
  color: #000000;
  background-color: #eae2cb;
  font-size: 12px;
  padding: 10px;
  margin-top: 0px;

  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* For command-only or output-only situations (less common) -- normal margins.
 * Example:
 *   mlr cat foo.csv <---- command line
 */
pre.pre-highlight-non-pair {
  color: #000000;
  background-color: #c5b690;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  margin-top: 2px;
  margin-bottom: 16px;

  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* Example:
 *   a,b,c           <---- output line
 *   1,2,3           <---- output line
 *   4,5,6           <---- output line
 */
pre.pre-non-highlight-non-pair {
  color: #000000;
  background-color: #eae2cb;
  font-size: 12px;
  padding: 10px;
  margin-top: 2px;
  margin-bottom: 15px;

  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

code {
  border-radius: 3px;
}

/* Section titles in content pages */
h1 {
  color: maroon;
  background-color: #e0e0e0;
  border-radius: 6px;
  padding: 6px;
}
h2 {
  color: maroon;
  background-color: #e0e0e0;
  border-radius: 6px;
  padding: 6px;
}
h3 {
  color: maroon;
  background-color: #e0e0e0;
  border-radius: 6px;
  padding: 6px;
}

/* Hyperlinks in content pages */
a {
  color: maroon;
}
a:visited {
  color: maroon;
}
a:hover {
  background-color: #e0e0e0;
  color: maroon;
}

/* Hyperlinks in navbar */
.wy-menu-vertical li ul li a {
    margin-bottom:0;
    color:#000000;
    font-weight:normal
}
.wy-menu-vertical a {
    display:inline-block;
    line-height:18px;
    padding:.4045em 1.618em;
    display:block;
    position:relative;
    font-size:90%;
    color:#000000
}
.wy-menu-vertical a:hover {
    background-color:#4e4a4a;
    cursor:pointer;
    color:#e0e0e0;
}
.wy-menu-vertical a:hover span.toctree-expand {
    color:#808080
}

img {
  border-radius: 6px;
}
