
a:link {
	color: maroon;
}
a:visited {
	color: maroon;
}
a:active {
	color: maroon;
}

body {
	color: black;
	background-color: white;
}

.maroon {
  color: maroon;
}
.boldmaroon {
  font-weight: bold;
  color: maroon;
}

body {
  font-family: "Avenir", sans-serif;
  line-height: 140%;
}
titleinbody {
  font-weight: bold;
  color: maroon;
  font-size: 120%
}

h1 {
  font-weight: bold;
  color: maroon;
  font-size: 120%;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  background: #c5b690;
  padding: 3px;
}

h2 {
  font-weight: bold;
  color: maroon;
  font-size: 105%;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  background: #ffffff;
  padding: 3px;
}

h3 {
  font-weight: bold;
  border-radius: 5px;
  color: maroon;
  font-size: 100%;
  border-bottom: 1px solid #aaaaaa;
}

table {
	color: #000000;
	border-collapse: collapse;
	border-color: #808080;
  border-radius: 5px;
}

.mlrbg {
  background: #c5b690;
}


th {
	vertical-align: top;
	padding: 5px;
}

td {
	vertical-align: top;
	padding: 5px;
}

tt {
  font-family: Consolas, monospace;
  font-size: 90%;
}
pre {
  font-family: Consolas, monospace;
  font-size: 90%;
}

.pokipanel {
  display: inline-block;
  background: #ffffff;
  box-shadow:0px 0px 2px 2px #C9C9C9;
  margin: 10px;
  border-color: #f1c40f;
  border-radius: 5px;
  background: #c5b690;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 15px;
  padding-right: 15px;
}

.poki-navbar-element {
  /* Note: the poki script will generate <b> ... </b> for current-section */
  color: maroon;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  background: #ffffff;
  line-height: 200%; /* for linewrap on mobile */
  padding: 3px;
  margin: 30px 3px 30px 3px; /* for linewrap on mobile */
  text-decoration: none;
}

.poki-navbar-element:hover {
  background: #dddddd;
}

