
.pokinav {
  display:        inline-block;
  border:         1px solid black;
  background:     #e8d9bc;
  box-shadow:     0px 0px 3px 3px #C9C9C9;
  margin:         10px;
  padding-top:    10px;
  padding-bottom: 10px;
  padding-left:   10px;
  padding-right:  10px;
}

.pokitoc {
  display:        inline-block;
  border:         1px solid black;
  background:     #ffffff;
  box-shadow:     0px 0px 3px 3px #C9C9C9;
  margin:         10px;
  padding-top:    10px;
  padding-bottom: 10px;
  padding-left:   10px;
  padding-right:  10px;
}

.pokipanel {
  display:        inline-block;
  background:     #e8d9bc;
  box-shadow:     0px 0px 3px 3px #C9C9C9;
  margin:         10px;
  padding-top:    2px;
  padding-bottom: 2px;
  padding-left:   15px;
  padding-right:  15px;
}
