/* Top left, desktop */
.wy-menu {
  background-color: #c0c0c0;
}
/* Top left, mobile */
.wy-nav-top {
  background-color: #c0c0c0;
}
/* Left navbar */
.wy-side-nav-search {
  background-color: #c0c0c0;
}

/* Code samples without <pre> (none currently in use) */
.rst-content code {
  color: #000000;
  background-color: #e0e0e0;
}
.rst-content pre code {
  color: #000000;
  background-color: #eae2cb;
}
.highlight {
  color: #0FF1CE;
}
.caption-text {
  color: maroon;
  padding: 4px;
}

/* Code samples using <pre> (which is currently in use) */
pre {
  color: #000000;
  background-color: #eae2cb;
  font-size: 12px;
  padding: 10px;
}

pre b {
  background-color: #c5b690;
  padding: 2px;
}

.pre-highlight {
  color: #000000;
  background-color: #c5b690;
  font-size: 12px;
  padding: 10px;
}
.pre-non-highlight {
  color: #000000;
  background-color: #eae2cb;
  font-size: 12px;
  padding: 10px;
}

/* Section titles with content pages */
h1 {
  color: maroon;
  background-color: #e0e0e0;
}
h2 {
  color: maroon;
  background-color: #e0e0e0;
}
h3 {
  color: maroon;
  background-color: #e0e0e0;
}

/* Hyperlinks in content pages */
a {
  color: maroon;
}
a:visited {
  color: maroon;
}
a:hover {
  background-color: #e0e0e0;
  color: maroon;
}

/* Hyperlinks in navbar */
.wy-menu-vertical li ul li a {
    margin-bottom:0;
    color:#000000;
    font-weight:normal
}
.wy-menu-vertical a {
    display:inline-block;
    line-height:18px;
    padding:.4045em 1.618em;
    display:block;
    position:relative;
    font-size:90%;
    color:#000000
}
.wy-menu-vertical a:hover {
    background-color:#4e4a4a;
    cursor:pointer;
    color:#e0e0e0;
}
.wy-menu-vertical a:hover span.toctree-expand {
    color:#808080
}
