site_name: Miller 6 Documentation
theme:
  name: material
  favicon: images/favicon.ico
  logo: images/favicon.png
  font:
    text: Lato
    code: Lato Mono
docs_dir: './src'
extra_css: ['extra.css']
extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js
  - javascripts/tables.js
nav:
  - "Introduction": "index.md"
  - 'Getting started':
    - "Installing Miller": "installing-miller.md"
    - "Miller in 10 minutes": "10min.md"
    - "Keystroke-savers": "keystroke-savers.md"
    - "Intro to Miller's programming language": "miller-programming-language.md"
    - "Miller on Windows": "miller-on-windows.md"
    - "Community": "community.md"
    - "Structure of these documents": "structure-of-these-documents.md"
  - 'Miller in more detail':
    - "Features": "features.md"
    - "File formats": "file-formats.md"
    - "Unix-toolkit context": "unix-toolkit-context.md"
    - "Record-heterogeneity": "record-heterogeneity.md"
    - "Internationalization": "internationalization.md"
    - "Output colorization": "output-colorization.md"
    - "Customization: .mlrrc": "customization.md"
    - "Syntax highlighting: vimrc": "vimrc.md"
    - "The REPL": "repl.md"
    - "Online help": "online-help.md"
    - "What's new in Miller 6": "new-in-miller-6.md"
    - "How to contribute": "contributing.md"
  - 'FAQs and examples':
    - "CSV, with and without headers": "csv-with-and-without-headers.md"
    - "Shapes of data": "shapes-of-data.md"
    - "Operating on all fields": "operating-on-all-fields.md"
    - "Operating on all records": "operating-on-all-records.md"
    - "Questions about then-chaining": "questions-about-then-chaining.md"
    - "Questions about joins": "questions-about-joins.md"
    - "Date/time examples": "date-time-examples.md"
    - "Special symbols and formatting": "special-symbols-and-formatting.md"
    - "Running shell commands": "shell-commands.md"
    - "Data-cleaning examples": "data-cleaning-examples.md"
    - "Data-diving examples": "data-diving-examples.md"
    - "Log-processing examples": "log-processing-examples.md"
    - "SQL examples": "sql-examples.md"
    - "DKVP I/O examples": "dkvp-examples.md"
    - "Statistics examples": "statistics-examples.md"
    - "Randomizing examples": "randomizing-examples.md"
    - "Two-pass algorithms": "two-pass-algorithms.md"
    - "Programming-language examples": "programming-examples.md"
    - "Miscellaneous examples": "misc-examples.md"
  - 'Background':
    - "Why?": "why.md"
    - "Why call it Miller?": "etymology.md"
    - "How original is Miller?": "originality.md"
    - "Performance": "performance.md"
  - 'Main reference':
    - "Miller command structure": "reference-main-overview.md"
    - "Then-chaining": "reference-main-then-chaining.md"
    - "List of command-line flags": "reference-main-flag-list.md"
    - "List of verbs": "reference-verbs.md"
    - "In-place processing": "reference-main-in-place-processing.md"
    - "Number formatting": "reference-main-number-formatting.md"
    - "Separators": "reference-main-separators.md"
    - "Flatten/unflatten: JSON vs. tabular formats": "flatten-unflatten.md"
    - "Streaming processing, and memory usage": "streaming-and-memory.md"
    - "Compressed data": "reference-main-compressed-data.md"
    - "CPU/multicore usage": "cpu.md"
    - "Miller environment variables": "reference-main-env-vars.md"
  - 'Types reference':
    - "Data types": "reference-main-data-types.md"
    - "Strings": "reference-main-strings.md"
    - "Regular expressions": "reference-main-regular-expressions.md"
    - "Arithmetic": "reference-main-arithmetic.md"
    - "Maps": "reference-main-maps.md"
    - "Arrays": "reference-main-arrays.md"
    - "Null/empty/absent data": "reference-main-null-data.md"
  - 'DSL reference':
    - "DSL overview": "reference-dsl.md"
    - "DSL syntax": "reference-dsl-syntax.md"
    - "DSL variables": "reference-dsl-variables.md"
    - "DSL control structures": "reference-dsl-control-structures.md"
    - "DSL operators": "reference-dsl-operators.md"
    - "DSL built-in functions": "reference-dsl-builtin-functions.md"
    - "DSL user-defined functions": "reference-dsl-user-defined-functions.md"
    - "DSL filter statements": "reference-dsl-filter-statements.md"
    - "DSL output statements": "reference-dsl-output-statements.md"
    - "DSL unset statements": "reference-dsl-unset-statements.md"
    - "DSL errors and transparency": "reference-dsl-errors.md"
    - "Differences from other programming languages": "reference-dsl-differences.md"
    - "A note on the complexity of Miller's expression language": "reference-dsl-complexity.md"
  - 'Misc. reference':
    - "Auxiliary commands": "reference-main-auxiliary-commands.md"
    - "Manual page": "manpage.md"
    - "Installation": "installation.md"
    - "Building from source": "build.md"
  - "Documents for previous releases": "release-docs.md"
  - "Glossary": "glossary.md"
