name: Miller-Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8

    - name: Set up Go
      uses: actions/setup-go@c4a742cab115ed795e34d4513e2cf7d472deb55f
      with:
        go-version: 1.15

    - name: Build
      run: make build

    - name: Test
      run: make check

    - name: Regression tests
      # We run these with a convoluted path to ensure the tests don't
      # rely on a specific invocation
      run: test/../mlr regtest -S

    - name: PrepareArtifactNonWindows
      if: matrix.os != 'windows-latest'
      run: mkdir -p bin/${{matrix.os}} && cp mlr bin/${{matrix.os}}

    - name: PrepareArtifactWindows
      if: matrix.os == 'windows-latest'
      run: mkdir -p bin/${{matrix.os}} && cp mlr.exe bin/${{matrix.os}}

    - uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb
      with:
        name: mlr-${{matrix.os}}
        path: bin/${{matrix.os}}/*
