name: Miller-Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15

    - name: Build
      run: make build

    - name: Test
      run: make check

    - name: PrepareArtifactNonWindows
      if: matrix.os != 'windows-latest'
      run: mkdir -p bin/${{matrix.os}} && cp mlr bin/${{matrix.os}}

    - name: PrepareArtifactWindows
      if: matrix.os == 'windows-latest'
      run: mkdir -p bin/${{matrix.os}} && cp mlr.exe bin/${{matrix.os}}

    - uses: actions/upload-artifact@v2
      with:
        name: mlr-${{matrix.os}}
        path: bin/${{matrix.os}}/*
