name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Build
      run: cd go && go build -v mlr.go

    - name: Test
      # In the event of needing to debug failures you can modify `./mlr regtest` verbosity
      # using `-v`, `-vv`, or `-vvv`. Commit changes to this file and re-push to GitHub
      # and let the GitHub Actions re-run.
      run: cd go && go test -v ./... && ./mlr regtest -m ./mlr -vv

    - name: UploadArtifacts
      uses: actions/upload-artifact@v2
      with:
        name: ${{ matrix.os }} /mlr
        if: matrix.config.os == 'windows-latest'
        path: go/mlr.exe
        if: matrix.config.os != 'windows-latest'
        path: go/mlr
